Netduino_2_and_3_NETMF/Product/Samples/DPWS/WCFSample/HelloWorldClient_MF/ServiceHelloWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://localhost/ServiceHelloWCF" xmlns:wsdp="http://schemas.xmlsoap.org/ws/2006/02/devprof" xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServiceHelloWCF" targetNamespace="http://localhost/ServiceHelloWCF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://localhost/ServiceHelloWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="HelloWCF">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="HelloWCFResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="HelloWCFResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="HelloWCFIn">
    <wsdl:part name="parameters" element="tns:HelloWCF" />
  </wsdl:message>
  <wsdl:message name="HelloWCFOut">
    <wsdl:part name="parameters" element="tns:HelloWCFResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceHelloWCF">
    <wsdl:operation name="HelloWCF">
      <wsdl:input wsa:Action="http://localhost/ServiceHelloWCF/IServiceHelloWCF/HelloWCF" message="tns:HelloWCFIn" />
      <wsdl:output wsa:Action="http://localhost/ServiceHelloWCF/IServiceHelloWCF/HelloWCFResponse" message="tns:HelloWCFOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceHelloWCFBinding" type="tns:ServiceHelloWCF">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#ServiceHelloWCFPolicy" wsdl:required="true" />
    <wsdl:operation name="HelloWCF">
      <wsoap12:operation />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>